*.a
*.core
*.o
*.d
*.so

*.bak
tags
cscope*
*.stackdump
# Binaries
# --------
*.dll
*.exe
*.lib
tmp.sh
tmp1.sh

*.user
*.ver
*.pc
*.def
*/debug/*
*/release/*
*.log
*/build*

*/jpg/*
*/images/*
*.jpg
*.yuv
*.mov
log.txt

*.gz
*.tar
*.bz2

*.version
*.config
*.fate
*.texi

*.log

ori_ffmpeg*
soft*
ffvcl*
faac-1.28

*.Debug
*.Release
*..stash
