*.a
*.core
*.o
*.d
*.so

*.bak
tags
cscope*
*.stackdump
# Binaries
# --------
*.dll
*.exe
*.lib

*.ver
*.pc
*.def
*/debug/*
*.log

*/jpg/*
*.jpg
*.yuv

*.gz
*.tar
*.bz2

*.version
*.config


*.log

ori_ffmpeg*
soft*
ffvcl*
